/* $Id: menu-block-admin.css,v 1.5 2010/03/22 19:58:31 johnalbin Exp $ */

#edit-admin-title-wrapper,
#edit-parent-wrapper,
#edit-depth-wrapper {
  margin-bottom: 2.5em;
}

#edit-parent-menu-wrapper {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#edit-parent-menu-wrapper label,
label#item-label {
  font-weight: normal;
}

#edit-depth-wrapper {
  margin-top: 2.5em;
}
