/* $Id: translation-table-admin.css,v 1.1.2.4 2009/09/29 02:12:36 pasqualle Exp $ */

#translation-table-filter .translation-table-filter {
  margin-left: 30px;
  float: left;
}

#translation-table-filter #translation-table-languages-selected-filter {
  margin-left: 0;
}

#translation-table {
  clear: both;
}

#translation-table td.translation-source {
  min-width: 250px;
}
